body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}




.container{
    width: 80%;
    background-color: #cccccc;
    margin: 0 auto;
    height: 100%;
}
header{
    height: 175px;
    
    width: 100%;
}
.sublogo{
    display: flex;
    justify-content: center;
    background-color: #053d6c;
}
nav{
    
    height: 75px;
    
    width: 100%;
}
.descrição{
    height: 100px;
    width: 100%;
    
}
.produto{
    height: 500px;
    width: 100%;
    
    display:flex;
}
.img-produto{
    width: 50%;
    height: 100%;
    background-color:#cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comprar-produto{
    width: 50%;
    height: 100%;
    background-color:#cccccc;
}
.preco{
    font-size: 50px;
    margin-top: 50px;
}
.linha-botao-preco{
    justify-content: space-around;
    display: flex;
}
.botao-comprar{
    
    color:antiquewhite;
    margin-top: 50px;
}
.name{
    font-size: 50px;
    justify-content: end;
    display: flex;
    margin-right: 95px;
}
